<a routerLink="./" [queryParams]="{orden:'precio'}" class="hover:border-b border-0 transition">Ordenar por precio</a>
<div
  class="flex flex-col md:grid md:grid-flow-col md:grid-rows-3 gap-4 mt-[0.5em] transition"
>
  <div class="flex flex-col rounded shadow" 
  *ngFor="let producto of productos;index as i"
  (click)="detallesProducto(i)"
  >
    <img
      src="https://www.svgrepo.com/show/508699/landscape-placeholder.svg"
      alt="placeholder"
      class="h-[100px] w-screen object-cover"
    />
    <div class="flex px-3 py-2 gap-2">
      <div class="flex flex-col grow">
        <span class="font-bold">{{ producto.nombre }}</span>
        <span class="text-gray-400">${{ producto.precio }}</span>
      </div>
      <button
        (click)="agregarCarrito(producto)"
        class="bg-green-300 px-2 py-1 rounded-full my-auto hover:bg-green-400 transition"
      >
        <i class="ri-add-line"></i>
      </button>
    </div>
  </div>
</div>
