<div class="bg-indigo-500 px-3 py-4 w-full flex">
  <div class="flex gap-2 mr-auto">
    <a
      routerLink="contacto"
      class="border border-indigo-200 hover:bg-indigo-200/20 rounded-full px-3 py-2 text-white transition duration-200"
    >
      Contacto
    </a>
    <a
      routerLink="productos"
      class="border border-indigo-200 hover:bg-indigo-200/20 rounded-full px-3 py-2 text-white transition duration-200"
    >
      Catalogo
    </a>
  </div>
  <div class="flex">
    <button
      routerLink="perfil"
      class="px-2 p-1 my-auto mr-3 hover:bg-indigo-200/50 transition rounded-full"
    >
      <i class="ri-user-line"></i>
    </button>
    <div class="flex" routerLink="productos/carrito">
      <i class="ri-shopping-cart-line my-auto"></i>
      <span
        class="bg-[#ffffff]/50 mb-auto rounded-full px-[0.5em] text-center text-[9px]"
        >{{ contadorCarrito }}</span
      >
    </div>
  </div>
</div>
